<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DeOps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
      <DeOps.Properties.Settings>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastOpened" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastSimPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LookupID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LookupTcp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LookupUdp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonoHelp" serializeAs="String">
                <value>True</value>
            </setting>
        </DeOps.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
